body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #deb7e9;
    /* background-color: #f0f8ff; Light blue background */
    color: #333; /* Dark text color */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .centered {
    text-align: center;

  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #555;
    font-size: 18px;
  }

  .Considerations{
    font-size: 11px;
}
  