body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f5f5; /* Light blue-gray background */
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: #3498db; /* Main blue color */
    color: #ecf0f1; /* Light gray text color */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}


.close-detail{
    display: none;
}